*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.labelAbout{
    color: red;
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-columns:  1fr 1fr;

}
li{
  text-align: left;
   list-style-type: none;
}
a{
    text-decoration: none;
}

h2{
    font-size: 40px;
    color: deepskyblue;
}

.pAboutStyle{
    font-size: 30px;
    color: #cccccc;
}
.pFooterStyle{
    font-size: 30px;
}
h3{
    font-size: 40px;
    color: deepskyblue;
}

.manStyle{
    color: white;
    display:block;
    gridTemplateColumns: repeat(3, 1fr);
    gridGap: 20;
    text-align: center;

}

.title{
    font-size: 30px;
    color: deepskyblue;
    background-color: #cccccc;
    padding: 10px;
    text-align: center;
}
img{
    width: auto;
    height: auto;
    border-radius: 50px;
    padding: 5px;
    border: 3px solid #ddd;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: inter;
    background-color: lightgrey;
}
.footer{
    font-family: cursive;
    position: fixed;
    background-color: gray;
    left: 0%;
    bottom: 0%;
    width: 100%;
    color: white;
    text-align: center;
}
nav .logo{

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


nav .nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

NAV .nav-links a{
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

nav .burger {
   font-size: 30px;
    display: none;
    cursor: pointer ;
}

NAV .nav-links a:hover{
    border-bottom: 3px solid #fff ;
}

@media all and (max-width: 768px) {

    nav .burger {
        display: block;
    }
    nav .nav-links {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        font-style: italic;
        color: white;
        background-color: lightslategrey;
        padding: 40px;
        width: 50%;
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;
    }

    nav .nav-links li{

        border-bottom: 2px solid black;

    }
    nav .nav-links li:last-of-type{
      border-bottom: 0px solid #cccccc;

    }

    NAV .nav-links a:hover{
        border-bottom: 2px solid black ;
    }
    h2{
        font-size: 20px;
        color: deepskyblue;
    }

}